@use "@/styles/_mixins/index" as m;

/**
* base
*/
html {
  overflow-y: scroll;
  font-size: 62.5%;
}

body {
  @include m.font-type("body");

  min-width: var(--s-pc-w);
  font-family: Avenir, -apple-system, Arial, "Helvetica Neue", Roboto, "Segoe UI", BlinkMacSystemFont, sans-serif;
  color: var(--c-text);

  // ---------------------------------------------------------
  // smartphone
  // ---------------------------------------------------------
  @include m.sm {
    min-width: var(--s-sp-w);
  }
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

picture {
  display: block;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

dl,
dt,
dd {
  padding: 0;
  margin: 0;
}

p,
figure {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: var(--c-text);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}

.wrapper {
  // background: var(--c-bg);
}
