<% const EJS = `${process.cwd()}/src/ejs`; %>

<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include(`${EJS}/_meta`, { pagename:'top' }) %>
</head>

<body>
  <div class="wrapper">
    <%- include(`${EJS}/_header`) %>
    <main class="main">
      <div style="height: 1000px">〜〜〜ここにコンテンツ〜〜〜</div>
    </main>
    <%- include(`${EJS}/_footer`) %>
  </div>
</body>

</html>