<% const IMG = `${process.cwd()}/src/images`; %>
<section class="community">
  <div class="community__inner">
    <div class="community__layout">
      <div class="community__layout-main">
        <p class="community__head">For community</p>
        <p class="community__title">More than just “thank you”to your contributors</p>
        <div class="community__text-area">
          <p class="community__text">Minting badges to contributors brings social recognition by visualizing the trust placed in them and their connection to collaborators.</p>
          <p class="community__text">Granting badges is also a motivational boost.</p>
        </div>
      </div>
      <figure class="community__layout-image">
        <img src="<%- `${IMG}/community-image1.svg` %>" alt="">
      </figure>
    </div>
  </div><!-- community__inner -->
</section>