<% const IMG = `${process.cwd()}/src/images`; %>
<section class="feature">
  <div class="feature__layout --first">
    <div class="feature__layout-main">
      <h2 class="feature__layout-title">Your contribution will be visible</h2>
      <p class="feature__layout-text">Even the smallest contribution on Discord, Twitter, etc., that you couldn't visualize before, will now take the form of a badge!</p>
    </div>
    <figure class="feature__layout-image">
      <img src="<%- `${IMG}/feature-image1.svg` %>" alt="">
    </figure>
  </div>

  <div class="feature__layout --second">
    <div class="feature__layout-main">
      <h2 class="feature__layout-title">The badge proves it without your words</h2>
      <p class="feature__layout-text">You don't have to write a profile, you don't have to send out a message, just have a badge that takes you to the next step.</p>
    </div>
    <figure class="feature__layout-image">
      <img src="<%- `${IMG}/feature-image2.svg` %>" alt="">
    </figure>
  </div>

  <div class="feature__layout --third">
    <div class="feature__layout-main">
      <h2 class="feature__layout-title">Just post the link anywhere</h2>
      <p class="feature__layout-text">You can prove your track record by simply posting your URL on various platforms.</p>
    </div>
    <figure class="feature__layout-image">
      <img src="<%- `${IMG}/feature-image3.svg` %>" alt="">
    </figure>
  </div>
</section>