<footer class="footer">
  <div class="footer__layout">
    <p class="footer__logo"><a href="">Logo</a></p>
    <div class="footer__links">
      <dl class="footer__link-list">
        <dt class="footer__link-title">Navigation</dt>
        <dd class="footer__link-item"><a href="">Features</a></dd>
        <dd class="footer__link-item"><a href="">User Example</a></dd>
        <dd class="footer__link-item"><a href="">Roadmap</a></dd>
        <dd class="footer__link-item"><a href="">About us</a></dd>
      </dl>
      <dl class="footer__link-list">
        <dt class="footer__link-title">Resources</dt>
        <dd class="footer__link-item"><a href="">About us</a></dd>
        <dd class="footer__link-item"><a href="">Privacy Policy</a></dd>
        <dd class="footer__link-item"><a href="">Terms of Service</a></dd>
        <dd class="footer__link-item"><a href="">Contact</a></dd>
      </dl>
      <dl class="footer__link-list">
        <dt class="footer__link-title">Social Media</dt>
        <dd class="footer__link-item"><a href="">Facebook</a></dd>
        <dd class="footer__link-item"><a href="">Twitter</a></dd>
        <dd class="footer__link-item"><a href="">LinkedIn</a></dd>
      </dl>
    </div>
  </div><!-- footer__layout -->

  <p class="footer__copy">&copy; Copyright 2022 Teracy All rights reserved.</p>
</footer>