<footer class="footer">
  <div class="footer__layout">
    <p class="footer__logo"><a href="">Logo</a></p>
    <div class="footer__links">
      <dl class="footer__link-list">
        <dt class="footer__link-title">Navigation1</dt>
        <dd class="footer__link-item"><a href="">Navigation1-1</a></dd>
        <dd class="footer__link-item"><a href="">Navigation1-2</a></dd>
        <dd class="footer__link-item"><a href="">Navigation1-3</a></dd>
        <dd class="footer__link-item"><a href="">Navigation1-4</a></dd>
      </dl>
      <dl class="footer__link-list">
        <dt class="footer__link-title">Navigation2</dt>
        <dd class="footer__link-item"><a href="">Navigation2-1</a></dd>
        <dd class="footer__link-item"><a href="">Navigation2-2</a></dd>
        <dd class="footer__link-item"><a href="">Navigation2-3</a></dd>
        <dd class="footer__link-item"><a href="">Navigation2-4</a></dd>
      </dl>
      <dl class="footer__link-list">
        <dt class="footer__link-title">Navigation3</dt>
        <dd class="footer__link-item"><a href="">Navigation3-1</a></dd>
        <dd class="footer__link-item"><a href="">Navigation3-2</a></dd>
        <dd class="footer__link-item"><a href="">Navigation3-3</a></dd>
        <dd class="footer__link-item"><a href="">Navigation3-4</a></dd>
      </dl>
    </div>
  </div>
  <!-- footer__layout -->

  <p class="footer__copy">&copy; Copyright 2022 ********** All rights reserved.</p>
</footer>