<header class="header">
  <div class="header__inner">
    <p class="header__logo">Logo</p>
    <div class="header__sp-nav-button js-sp-nav-button">
      <div class="header__sp-nav-button-inner"></div>
    </div>
    <div class="header__nav-wrap js-sp-nav">
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item"><a class="header__nav-link" href="">Navigation1</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="">Navigation2</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="">Navigation3</a></li>
        </ul>
      </nav>
      <button class="header__button">
        <span class="header__button-inner"><span class="header__button-text">Connect wallet</span></span>
      </button>
    </div>
  </div>
</header>