<header class="header">
  <div class="header__inner">
    <p class="header__logo">Logo</p>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item"><a class="header__nav-link" href="">Feature</a></li>
        <li class="header__nav-item"><a class="header__nav-link" href="">User Example</a></li>
        <li class="header__nav-item"><a class="header__nav-link" href="">Roadmap</a></li>
      </ul>
    </nav>
    <button class="header__button">
      <span class="header__button-inner">
        <span class="header__button-text">Connect wallet</span>
      </span>
    </button>
  </div>
</header>