<% const IMG = `${process.cwd()}/src/images`; %>
<section class="mv">
  <div class="mv__layout grid">
    <div class="mv__layout-main">
      <h1 class="mv__title"><span class="mv__title-text">Badge NFT</span></h1>
      <p class="mv__title-sub">represents you</p>
      <div class="mv__text-area">
        <p>Your contribution to the community will be your trust from now on. Trustless Proof of Achievement NFT Badge.</p>
      </div>
      <button class="mv__button">Create your page</button>
    </div>
    <figure class="mv__layout-image">
      <img src="<%- `${IMG}/mv-image1.svg` %>" alt="">
    </figure>
  </div>
</section>