<section class="roadmap">
  <div class="roadmap__inner">
    <h2 class="roadmap__title">Roadmap</h2>
    <div class="roadmap__content">
      <div class="roadmap__item">
        <p>あああああ</p>
      </div>
      <div class="roadmap__item">
        <p>いいいいい</p>
      </div>
      <div class="roadmap__item">
        <p>ううううう</p>
      </div>
    </div>
  </div>
</section>