@use "@/styles/_setting/index" as s;
@use "sass:math";

/**
* appeal
*/
.appeal {
  $this: &;

  padding: 160px 0;

  &__title {
    @include s.font-type("h2");

    margin-bottom: s.$space * 8;
    text-align: center;
  }

  // &__swiper{

  // }

  &__swiper-wrapper {
    transition-timing-function: linear;
  }

  &__swiper-slide {
    height: 440px !important;

    img {
      width: auto;
      height: 100%;
    }
  }
}
