@use "@/styles/_setting/index" as s;
@use "sass:math";

/**
* footer
*/
.footer {
  $this: &;

  max-width: var(--s-pc-w);
  padding: 72px 0;
  margin: 0 auto;

  &__layout {
    display: flex;
  }

  // &__logo {
  // }
  &__links {
    display: flex;
    gap: 112px;
    margin-left: auto;
  }

  &__link-title {
    @include s.font-type("caption");

    margin-bottom: s.$space * 2;
    color: #5f6d82;
  }

  &__link-item {
    @include s.font-type("h4");

    &:not(:last-child) {
      margin-bottom: s.$space * 3;
    }

    a {
      color: #cfdaea;
    }
  }

  &__copy {
    @include s.font-type("caption");

    margin-top: -1.5em;
    color: #5f6d82;
  }

  // ---------------------------------------------------------
  // smartphone
  // ---------------------------------------------------------
  @include s.sm {
    padding: 40px 24px;

    &__layout {
      flex-direction: column;
    }

    &__links {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px 0;
      padding: 0 16px;
      margin-bottom: s.$space * 5;
      margin-left: 0;
      white-space: nowrap;
    }

    &__link-item {
      font-size: 1.6rem;
    }

    &__copy {
      margin-top: 0;
      font-size: 1.2rem;
    }
  }
}
