@use "sass:math";
@use "@/styles/_mixins/index" as m;
@use "@/styles/_variables/index" as v;

/**
* header
*/
.header {
  $this: &;

  position: sticky;
  top: 0;
  left: 0;

  &__inner {
    display: flex;
    max-width: var(--s-pc-w);
    padding: 32px 0;
    margin: 0 auto;
  }

  &__logo {
    margin-right: auto;
  }

  &__sp-nav-button {
    display: none;
  }

  // &__nav-wrap {
  // }

  // &__nav {
  // }

  &__nav-list {
    display: flex;
    gap: 8px 56px;
    justify-content: flex-end;
  }

  // &__nav-item {
  // }

  &__nav-link {
    // color: #cfdaea;
  }

  &__button {
    padding: 1px;
    margin-left: 56px;
    background: var(--c-gradient);
    border-radius: 999px;
  }

  &__button-inner {
    display: flex;
    align-items: center;
    padding: 8px 16px;

    // background: var(--c-bg);
    // border-radius: 999px;
    // transition: background var(--t-animation);

    &::after {
      width: 24px;
      height: 24px;
      margin-left: 8px;
      content: "";

      // background: url("@/images/icon/arrow-right.svg") 0 0 no-repeat;
    }
  }

  &__button:hover &__button-inner {
    &::after {
      // @include m.arrow;
    }
  }

  &__button-text {
    display: block;
    background: var(--c-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__button:hover {
    #{$this}__button-inner {
      background: none;
    }
    #{$this}__button-text {
      color: var(--c-bg);
      background: none;
      background-clip: unset;
      -webkit-text-fill-color: unset;
    }
  }

  // ---------------------------------------------------------
  // smartphone
  // ---------------------------------------------------------
  @include m.sm {
    // position: absolute;
    // width: 100%;

    &__inner {
      width: 100%;
      min-width: var(--s-sp-w);
      padding: v.$space * 2 v.$space * 3;
    }

    &__sp-nav-button {
      position: relative;
      display: block;
      padding: 1px;
      cursor: pointer;
      background: var(--c-gradient);
      border-radius: 999px;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 20px;
        height: 2px;
        content: "";
        background: var(--c-gradient);
        border-radius: 999px;
        transition: opacity var(--t-animation);
        transform: translate(-50%, -50%);
      }
    }

    &__sp-nav-button-inner {
      width: 39px;
      height: 39px;
      background: var(--c-bg);
      border-radius: 999px;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 16px;
        height: 2px;
        margin-top: -6px;
        content: "";
        background: var(--c-gradient);
        border-radius: 999px;
        transition: transform var(--t-animation);
        transform: translate(-50%, -50%);
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 16px;
        height: 2px;
        margin-top: 6px;
        content: "";
        background: var(--c-gradient);
        border-radius: 999px;
        transition: transform var(--t-animation);
        transform: translate(-50%, -50%);
      }
    }

    // sp button active
    &__sp-nav-button.is-active {
      &::before {
        opacity: 0;
      }
      #{$this}__sp-nav-button-inner {
        &::before {
          width: 20px;
          margin-top: 0;
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
          width: 20px;
          margin-top: 0;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }

    &__nav-wrap {
      position: absolute;
      top: 100%;
      left: 0;
      flex-direction: column;
      width: 100%;
      height: 0;
      overflow: hidden;
      text-align: center;
      background: var(--c-bg);
      transition: height var(--t-animation);

      &.is-active {
        height: var(--js-h);
      }
    }

    &__nav-list {
      flex-direction: column;
      gap: 32px;
      padding-top: 40px;
      margin-bottom: v.$space * 4;
    }

    &__nav-link {
      padding: 8px;
    }

    &__button {
      margin-bottom: 40px;
      margin-left: 0;
    }
  }
}
