@use "@/styles/_setting/index" as s;
@use "sass:math";

/**
* mv
*/
.mv {
  max-width: 1200px;
  padding: 160px 0;
  margin: 0 auto;

  &__layout {
    display: flex;
    justify-content: center;
  }

  &__layout-main {
    padding-right: 32px;
  }

  &__layout-image {
    flex-shrink: 0;
    margin-left: auto;
  }

  &__title {
    @include s.font-type("h1");
  }

  &__title-text {
    display: block;
    background: var(--c-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__title-sub {
    @include s.font-type("h1");

    margin-bottom: s.$space * 8;
  }

  &__text-area {
    @include s.font-type("h3");

    margin-bottom: s.$space * 8;
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    line-height: 1;
    color: var(--c-bg);
    background: var(--c-gradient);
    border-radius: 999px;

    &::after {
      @include s.arrow;

      width: 24px;
      height: 24px;
      margin-left: 8px;
      content: "";
    }
  }

  // ---------------------------------------------------------
  // smartphone
  // ---------------------------------------------------------
  @include s.sm {
    padding: 64px 0 80px;

    &__layout {
      flex-direction: column;
    }

    &__layout-main {
      padding: 0 s.$space * 3;
      margin-bottom: s.$space * 6;
    }

    &__title-sub {
      margin-bottom: s.$space * 2;
    }

    &__text-area {
      margin-bottom: s.$space * 3;
    }

    &__button {
      padding: 12px 20px;
    }
  }
}
